
= f.label :name, 'Name'
= f.text_field :name, class: 'span5'
= f.label :homepage, 'Official site'
= f.text_field :homepage, class: 'span5'
= f.label :description, 'Description'
~ f.text_area :description, class: 'span5'
