<!DOCTYPE html>
<html>
<head>
  <title>
    <%= @title || 'GuruWatch.org' %>
  </title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class='row'>
      <div class='span12'>
        <h1><%= @title %></h1>

        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
